.testimonial {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0 1.1rem 0.0625rem 1.1rem;
	margin-bottom: 96px;
	
	@mixin atLarge {
		margin-bottom: 0;
		padding: 0 1.8125rem 0.0625rem 1.8125rem;
	}
	
	&__photo {
		border-radius: 50%;
		overflow: hidden;
		height: 160px;
		width: 160px;
		margin: 0 auto -80px auto;
		position: relative;
		top: -80px;
		border: 6px solid rgba(255, 255, 255, 0.8);
		/*   transform: translateY(-50%);   is a better way to do it   */
	}
	
	&__title {
		text-align: center;
		font-size: 1.5rem;
		color: $mainBlue;
		font-weight: 550;
		margin: 0;
	}
	
	&__subtitle {
		text-align: center;
		color: $mainOrange;
		margin: .3rem 0 0 0;
		font-weight: 450;
		font-size: 1rem;
	}
	
	&--last {
		margin-bottom: 0;
	}
	
}